<div class="col-md-6 mx-auto">
    <div class="car">
        <div class="card-header">
            <h2>Actualizar Clientes</h3>
        </div>
        <div class="card-body">
            <form action="/editclients/{{clients.id}}" method="POST">

                <div class="form-group">
                    <input type="text" value='{{clients.nit}}' name="nit" class="form-control" placeholder="Nit" autofocus>
                </div>

                <div class="form-group">
                    <input type="text" value='{{clients.name}}' name="name" class="form-control" placeholder="Nombre" autofocus>
                </div>

                <div class="form-group">
                    <input name="city" value='{{clients.city}}' class="form-control" placeholder="Ciudad">
                </div>

                <div class="form-group">
                    <input name="address" value='{{clients.address}}' class="form-control" placeholder="Direccion">
                </div>

                <div class="form-group">
                    <input name="phoneNumber" value='{{clients.phoneNumber}}' class="form-control" placeholder="Telefono Contacto">
                </div>

                <div class="form-group">
                    <input type="email" value='{{clients.email}}' name="email" class="form-control" placeholder="Correo" autofocus>
                </div>



                <div class="form-group d-grid gap-2">
                        <button  class="btn-block btn btn-primary " type="submit" >
                            Guardar Cambios
                        </button>
                    
                </div>
            </form>
        </div>
    </div>
</div>