
<div class="container">
    <div class="table-responsive">
    <table border="1" class="table table-hover  table-bordered">
        <thead class="table-secondary">
            <tr><br>
                <th>Nit</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {{#each resp}}
            <tr>
                <th>{{nit}}</th>
                <th>{{name}}</th>
                <th>{{city}}</th>
                <th>{{address}}</th>
                <th>{{phoneNumber}}</th>
                <th>{{email}}</th>
                <th><a href="#" class="btn btn-primary"> Ver</a>
                </th>
                <th><a href="/editclients/{{id}}" class="btn btn-secondary">Editar</a>
                </th>
                <th><a href="/deleteclients/{{id}}" class="btn btn-danger"> Eliminar</a>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    <a href="/addclients" class="btn btn-success"> Crear Cliente</a>
            
</div>
